/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */





/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 25vh;
  margin-bottom: 20px;
  min-height: 160px;
  /*position: relative;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 22%;
}
.carousel-caption>h3 {
  color: #fff;
} 

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 25vh;
  background-color: #777;
  min-height: 160px;
}
.carousel .item:nth-child(1) {
  background-color: lightskyblue;
}
.carousel .item:nth-child(2) {
  background-color: lightskyblue;
}
.carousel .item:nth-child(3) {
  background-color: lightskyblue;
}
.carousel .item:nth-child(4) {
  background-color: lightskyblue;
}

.carousel .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.carousel-control {
  opacity: 0.1;
}

/* list-groups */
.search-ipt {
  padding: 4px;
}


#result>h4 {
  color: red;
}
#result .list-group-item h4 {
  margin-bottom: 0;
}